{% extends 'base.html' %}

{% block title %} Create an Account {% endblock %}

{% block body %}


  <h1>Create a shower routine:</h1>


  <form id="create-user-form" method="POST">
    {# Get basic info about user for USERS table #}
    <label for="user-name">User's Name:</label>

    <input id="user-name" type="text" name="user-name" required>
    <label for="flow-name">Name for this shower routine:</label>
    <input id="flow-name" type="text" data-toggle="tooltip" data-placement="right" title="Try something like 'Sunday', 'quick-wash', etc. to help you distinguish different routines for the same person.  Hint: the default is 'daily'" name="flow-name">

    
    <fieldset>
      <legend>User's body type:</legend>
        <input class="body-type" id="fem" type="radio" name="body" value="female-feminine">
      <label for="fem">Female / Feminine</label>
      <br>
      <input class="body-type" id="masc" type="radio" name="body" value="male-masculine">
        <label for="masc"> Male / Masculine</label>
      <br>

      <input class="body-type" id="other-bod" type="radio" name="body" value="other-bod">
        <label for="other-body">Other / Non-binary</label>
    </fieldset>

    <fieldset>
      <legend>How does this person clean their Hair?</legend>

      Shampoo? <input id="shampoo" type="checkbox" name="activity" value="shampoo">
      Conditioner? <input id="conditioner" type="checkbox" name="activity" value="conditioner">

    </fieldset>

    <fieldset>
      <legend>How does this person clean their Body?</legend>
      Bar soap? <input id="bar-soap" type="checkbox" name="activity" value="bar-soap">
      Liquid soap? <input id ="liquid-soap" type="checkbox" name="activity" value="liquid-soap">
    </fieldset>

    <fieldset>
      <legend>Does this person Shave?</legend>
      Their face? <input id="shave-face" type="checkbox" name="activity" value="shave-face">
      Their underarms? <input id="shave-armpits" type="checkbox" name="activity" value="shave-armpits">
      Their legs? <input id="shave-legs" type="checkbox" name="activity" value="shave-legs">
    </fieldset>

    <fieldset>
      <legend>For how many minutes does an average shower last?</legend>
      <input id="short" type="radio" name="duration" value="10">
        <label for="short">10</label>
      
      <input id="med" type="radio" name="duration" value="20">
        <label for="med">20</label>
      
      <input id="long" type="radio" name="duration" value="30">
        <label for="long">30</label>
    </fieldset>


<hr>

  {% if not current_user.is_authenticated %}

<div>

    <fieldset>
      <legend>Caregiver Information:</legend>
      <label for="caregiver-name">Name:</label>
        <input id="caregiver-name" type="text" name="caregiver-name">
        <br>
      <label for="caregiver-phone">Cellphone number:</label>
        <input id="caregiver-phone" type="tel" name="caregiver-phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="123-555-1212">
        <a href="#" data-toggle="tooltip" title="This app includes text alerts when a user presses the HELP button during a shower.">Why do we need this?</a>
        <br>
      <label for="caregiver-email">Email Address:</label>
        <input id="caregiver-email" type="email" name="caregiver-email" required>
        <br>
      <label for="caregiver-password">Password (8 characters minimum):</label>
        <input id="caregiver-password" type="password" name="caregiver-password" minlength="8" required>
    </fieldset>
</div>
  {% endif %}

    <input type="submit" value="Create Account">

  </form>
  

{% endblock %}
