{% extends 'base.html' %}
{% block title %} Create an Account {% endblock %}

{% block body %}

  <h1>Shower Buddy</h1>

{# Look into a "Linear Stepper" or "Parallel Stepper" for making this form look
 good. Should be part of the Bootstrap work. #}


  <form>
    {# Get basic info about user for USERS table #}
    <label for="user-name">User's Name:</label>
    <input id="user-name" type="text" name="user-name">
    
    <fieldset>
      <legend>User's body type:</legend>
        <input id="fem" type="radio" name="body" value="female-feminine">
      <label for="fem">Female / Feminine</label>
      <br>
      <input id="masc" type="radio" name="body" value="male-masculine">
        <label for="masc"> Male / Masculine</label>
      <br>
      <input id="other" type="radio" name="body" value="other">
        <label for="other">Other / Non-binary</label>
    </fieldset>

    <fieldset>
      <legend>How does this person clean their Hair?</legend>
      Shampoo? <input id="shampoo" type="checkbox" name="hair" value="shampoo">
      Conditioner? <input id="conditioner" type="checkbox" name="hair" value="conditioner">
      Other? <input id="other" type="checkbox" name="hair" value="other">
      {# If other, add text input and collect that info #}
    </fieldset>

    <fieldset>
      <legend>How does this person clean their Body?</legend>
      Bar soap? <input id="bar-soap" type="checkbox" name="body" value="bar-soap">
      Liquid soap? <input id ="liq-soap" type="checkbox" name="body" value="liq-soap">
    </fieldset>

    <fieldset>
      <legend>Does this person Shave?</legend>
      Their face? <input id="shave-face" type="checkbox" name="shave" value="shave-face">
      Their underarms? <input id="shave-pits" type="checkbox" name="shave" value="shave-pits">
      Their legs? <input id="shave-legs" type="checkbox" name="shave-legs">
    </fieldset>

    <strong>** Need to figure out how to ask about the time needed for these tasks **
    ** Offer as a 'user typically takes 10 / 20 / 30 min in the shower' & divide out the time? **</strong>

    <fieldset>
      <legend>Caregiver Information</legend>
      <label for="caregiver-name">Name:</label>
        <input id="caregiver-name" type="text" name="caregiver-name">
        <br>
      <label for="caregiver-phone">Cellphone number:</label>
        <input id="caregiver-phone" type="text" name="caregiver-phone">
        <br>
      <label for="caregiver-email">Email Address:</label>
        <input id="caregiver-email" type="text" name="caregiver-email" required>
        <br>
      <label for="caregiver-password">Password (8 characters minimum):</label>
        <input id="caregiver-password" type="password" name="caregiver-password" minlength="8" required>
    </fieldset>

    <input type="submit" value="Create Account">
    <input type="submit" value="Save & Create another">
  </form>
  
{% endblock %}