{# Edit an existing user/flow #}

{% extends 'base.html' %}

{% block title %} Edit a Flow {% endblock %}

{% block body %}


<div class="container-fluid mt-5">

  <div class="row">
    <div class="col-2">
      <h4> Choose a routine to edit: </h4>
    </div>



    <div class="col-4">

        <select class="custom-select shadow sm-white custom-select-md edit-flow" id="flow-id" name="select">
        {% for user in current_user.users %}
          {% for flows in user.flows %}
            <option class="edit-flow" value="{{flows.flow_id}}">{{user.user_name}} - {{flows.title}}
            </option>
          {% endfor %}
        {% endfor %}
        </select>
    </div>
    <div class="col-2">
      <button class="start-shower btn btn-outline-dark" id="edit-flow">Edit</button>
    </div>


    <form id="update-user-form" class="col-12">
    <div class="form-group row">
        <label for="flow-name" class="col-4 offset-2 col-form-label">Name of routine:</label>
        <div class="col-5">
          <input class="form-control shadow p-4 sm-white form-control-sm" id="upd-flow-title" type="text" data-toggle="tooltip" data-placement="right" title="Try something like 'Sunday', 'quick-wash', etc. to help you distinguish different routines for the same person.  Hint: the default is 'daily'" name="flow-name">
        </div>
     </div>

    <div class="form-group row">
      <div class="col-4 offset-2">How does this person clean their Hair?
      </div>
        <div class="col-5">
        <div class="form-check form-check-inline">
          <input class="form-check-input" id="shampoo" type="checkbox" name="upd-activity" value="shampoo">
          <label class="form-check-label" for="shampoo">Shampoo</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" id="conditioner" type="checkbox" name="upd-activity" value="conditioner">
          <label class="form-check-label" for="conditioner">Conditioner</label>
        </div>
      </div>
    </div>
    
    <div class="form-group row">
      <div class="col-4 offset-2">How does this person clean their Body?
      </div>
      <div class="col-5">
        <div class="form-check form-check-inline">
          <input class="form-check-input" id="bar-soap" type="radio" name="upd-activity" value="bar-soap">
          <label class="form-check-label" for="bar-soap">Bar soap</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" id ="liquid-soap" type="radio" name="upd-activity" value="liquid-soap">
          <label class="form-check-label">Liquid soap</label>
        </div>
      </div>
    </div>
    
    <div class="form-group row">
      <div class="col-4 offset-2">Does this person Shave?</div>
      <div class="col-5">
        <div class="form-check form-check-inline">
          <input class="form-check-input" id="shave-face" type="checkbox" name="upd-activity" value="shave-face">
          <label class="form-check-label">Their face</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" id="shave-armpits" type="checkbox" name="upd-activity" value="shave-armpits">
          <label class="form-check-label">Their underarms</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" id="shave-legs" type="checkbox" name="upd-activity" value="shave-legs">
          <label class="form-check-label">Their legs</label>
        </div>
      </div>
    </div>
    
    <div class="form-group row">
      <div class="col-4 offset-2">For how many minutes does an average shower last?</div>
      <div class="col-5"> 
        <div class="form-check form-check-inline">
          <input class="form-check-input" id="10" type="radio" name="upd-duration" value="10">
          <label class="form-check-label" for="10">10</label>          
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" id="20" type="radio" name="upd-duration" value="20">
          <label class="form-check-label" for="20">20</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" id="30" type="radio" name="upd-duration" value="30">
          <label class="form-check-label" for="30">30</label>
        </div>

  
    <div class="row">
      <div class="col-3 offset-6">
        <input class="btn btn-outline-dark ml-3" id="update-user-btn" type="submit" value="Update!">
      </div>
    </div>

    </form>
    </div>
  </div>
</div>


</div>

{% endblock %}