{% extends 'base.html' %}
{% block title %} Shower Buddy Homepage {% endblock %}

{% block body %}

  <h1>Shower Buddy</h1>
    
    <button id="about-button">About the Shower Buddy</button>
      <p id="about-text" style="display: none">Here is a paragraph 
        that explains this product, who it is for, and how it can be a benefit.
        Basic info on creating an account, and then using it.
      </p>

    <button id="create-user"><a href="/create_user">Create a New Account & Start a Shower Routine</a></button>
    


  <h4>Already have an account? Please login to start a shower!</h4>
  
  <form id="login" action="/login" method="POST">
    {# Log in an existing caregiver; Will render a dashboard #}
    
    <label for="cg-email">Email Address:</label>
    <input id="cg-email" type="email" name="cg-email" required>
        <br>
    <label for="cg-password">Password:</label>
    <input id="cg-password" type="password" name="cg-password" minlength="8" required>
    <br>
    <input type="submit" value="LogIn">
  </form>

  <script src="/static/shower_buddy.js" type="text/javascript"></script>

{% endblock %}



