{% extends 'base.html' %}
{% block title %} Eventual Dashboard {% endblock %}

{% block body %}


  <h1>This will become a dashboard page</h1>

  <h2> Features will include: </h2>
    <ol>
      <li>Add a new user</li>
      <li>Add a new flow for an existing user</li>
      <li>Start a shower (gonna take this off the home page I think)</li>
    </ol>




{#     <form method="POST" action='/login'>
      {{ form.hidden_tag() }}
      {{ form.caregiver_email }}
      {{ form.caregiver_password }}
      {{ form.remember }}
      <input type="submit" value="Log In">
    </form> #}
  
{% endblock %}